######
# DB #
######

DB_HOST=db
DB_PORT=3306
DB_USERNAME=std_notes_user
DB_PASSWORD=changeme123
DB_DATABASE=standard_notes_db
DB_TYPE=mysql

#########
# CACHE #
#########

REDIS_PORT=6379
REDIS_HOST=cache
CACHE_TYPE=redis

########
# KEYS #
########

AUTH_JWT_SECRET=
AUTH_SERVER_ENCRYPTION_SERVER_KEY=
VALET_TOKEN_SECRET=

# (Optional) U2F Setup
AUTH_SERVER_U2F_RELYING_PARTY_ID=
AUTH_SERVER_U2F_RELYING_PARTY_NAME=
AUTH_SERVER_U2F_EXPECTED_ORIGIN=
AUTH_SERVER_U2F_REQUIRE_USER_VERIFICATION=
AUTH_SERVER_U2F_CHALLENGE_MAX_AGE_SECONDS=
