.eslintcache
.DS_Store
.idea
dist
coverage
.env
newrelic_agent.log

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/unplugged
!.yarn/sdks
!.yarn/versions

packages/files/uploads/*
!packages/files/uploads/.gitkeep

data/*
!data/.gitkeep

packages/**/data/*

logs/*
!logs/.gitkeep

docker-compose.yml
